In [25]:
import pandas as pd
import os
import matplotlib.pyplot as plt
from config import weather_api_key
from config import g_key
from pprint import pprint
import requests
from random import randint
import numpy as np
from citipy import citipy

In [27]:
print(citipy)

<module 'citipy.citipy' from 'C:\\Users\\Pankaj\\Anaconda3\\lib\\site-packages\\citipy\\citipy.py'>

In [2]:
#api.openweathermap.org/data/2.5/weather?lat={lat}&lon={lon}&appid={your api key}
url='http://api.openweathermap.org/data/2.5/weather?'

In [3]:
file_path = os.path.join("..","worldcities.csv")
cities = pd.read_csv(file_path)

In [4]:
cities.head()

  Country              City   Latitude  Longitude
0      ad  andorra la vella  42.500000   1.516667
1      ad           canillo  42.566667   1.600000
2      ad            encamp  42.533333   1.583333
3      ad        la massana  42.550000   1.516667
4      ad      les escaldes  42.500000   1.533333

In [5]:
#Calculating total rows in DataFrame
total=cities.Country.count()

In [6]:
#Finding random 503 integers
randoms=np.random.randint(0,total,503)

In [7]:
#Creating a new DataFrame to add random 500 rows from the original DataFrame
new_city= pd.DataFrame({"Country":"","City":"","Latitude":0, "Longitude":0},index=[0])

In [8]:
new_city

  Country City  Latitude  Longitude
0                      0          0

In [9]:
#Looping over those 503 random integrs to get an completely random DataFrame 
for index,rows in cities.iterrows():
    for nos in randoms:
        new_city.loc[nos,"Country"]=cities.loc[nos,"Country"]
        new_city.loc[nos,"City"]=cities.loc[nos,"City"]
        new_city.loc[nos,"Latitude"]=cities.loc[nos,"Latitude"]
        new_city.loc[nos,"Longitude"]=cities.loc[nos,"Longitude"]
    break

In [10]:
new_city

      Country                City   Latitude   Longitude
0                                   0.000000    0.000000
3919       br    sao bento do sul -26.249722  -49.382500
44861      us                troy  42.728333  -73.692222
16900      in               ambad  19.616667   75.800000
24288      mx      pedro escobedo  20.500000 -100.133333
3292       br             macaiba  -5.716667  -35.550000
15752      hu          letavertes  47.383333   21.900000
25615      nl        middelharnis  51.756017    4.163479
21457      jp           kashihara  34.450000  135.766667
43785      us         hyattsville  38.955833  -76.945833
12586      gb          haddington  55.916667   -2.750000
41967      ug             kanungu  -0.957500   29.789722
35272      ru            balashov  51.550200   43.166700
8137       cz  mosty u jablunkova  49.534671   18.753926
11382      fr            aurillac  44.921400    2.437319
23948      mx          jaltenango  15.916667  -92.716667
35924      ru              gornyy  55.115300   83.905900
29322      ph             pag-asa   7.575556  125.683889
6753       co            circasia   4.618889  -75.635833
5985       cn              haikou  24.779854  102.575483
9041       de         holzwickede  51.500000    7.633333
20373      it             cremona  45.116667   10.033333
35740      ru           dovolnoye  54.496496   79.667273
28612      ph                lepa  15.882600  120.449300
33534      ro               matca  45.850000   27.533333
13516      gr               ekali  38.116667   23.833333
27078      ph              aranda  10.236500  122.946700
21235      jp              atsugi  35.438889  139.359722
24168      mx           nadadores  27.050000 -101.600000
45651      us        flower mound  33.014444  -97.096667
...       ...                 ...        ...         ...
38815      ru               vagay  57.937500   69.021667
29915      ph            san luis   7.441389  126.551111
30517      ph              toboso  10.714348  123.516202
14697      gt              tamahu  15.333333  -90.166667
43614      us          winchester  37.990000  -84.179722
24185      mx              necaxa  20.216667  -98.000000
13093      ge           gardabani  41.454722   45.094722
7274       co             salento   4.637500  -75.570278
824        au               cowra -33.835541  148.696625
33043      ro               finta  44.800000   25.800000
16458      id              prigen  -7.681600  112.639300
24183      mx               nazas  25.216667 -104.100000
35125      ru      alekseyevskoye  55.307064   50.113532
26818      pe            trujillo  -8.116667  -79.033333
20788      it          poggibonsi  43.466667   11.150000
6023       cn            huaidian  33.433333  115.033333
25536      nl          goedereede  51.818189    3.977720
5804       cm              yagoua  10.342778   15.240556
15979      hu         simontornya  46.754623   18.554903
23866      mx             huautla  18.133333  -96.850000
17798      in              guntur  16.300000   80.450000
1955       bg             gurkovo  42.666667   25.800000
33521      ro            mariselu  47.016667   24.516667
36743      ru                kyra  49.577600  111.975300
19298      in         santokhgarh  31.366667   76.316667
40361      tj              kansay  40.492778   69.702500
43373      us              shiloh  38.561389  -89.897222
27368      ph          batobalani  14.233333  122.750000
34112      ro             salonta  46.800000   21.650000
4404       bz            dangriga  16.966667  -88.216667

[501 rows x 4 columns]

In [11]:
new_city.isnull().sum()

Country      0
City         0
Latitude     0
Longitude    0
dtype: int64

In [12]:
df=new_city.drop(0)

In [13]:
df.head()

      Country              City   Latitude   Longitude
3919       br  sao bento do sul -26.249722  -49.382500
44861      us              troy  42.728333  -73.692222
16900      in             ambad  19.616667   75.800000
24288      mx    pedro escobedo  20.500000 -100.133333
3292       br           macaiba  -5.716667  -35.550000

In [14]:
df.reset_index(drop=True,inplace=True)

In [15]:
type(df)

pandas.core.frame.DataFrame

In [16]:
df.head()

  Country              City   Latitude   Longitude
0      br  sao bento do sul -26.249722  -49.382500
1      us              troy  42.728333  -73.692222
2      in             ambad  19.616667   75.800000
3      mx    pedro escobedo  20.500000 -100.133333
4      br           macaiba  -5.716667  -35.550000

In [ ]:
cities['cloudiness']=response['clouds']['all']
cities['date']=response['dt']
cities['humidity']=response['main']['humidity']
cities['Max Temp']=response['main']['temp_min']
cities['Wind Speed']=response['wind']['speed']

In [17]:
params={'appid':weather_api_key,'units':'Imperial'}

In [18]:
for index,row in df.loc[:5,].iterrows():
    print("Searching for {}".format(row["City"]))
    url='http://api.openweathermap.org/data/2.5/weather?'
    latt=row['Latitude']
    long=row['Longitude']
    params['lat']=latt
    params['lon']=long
    response=requests.get(url,params=params).json()
    try:
        df.loc[index,'cloudiness']=response['clouds']['all']
        df.loc[index,'date']=response['dt']
        df.loc[index,'humidity']=response['main']['humidity']
        df.loc[index,'Max Temp']=response['main']['temp_min']
        df.loc[index,'Wind Speed']=response['wind']['speed']
    except KeyError:
        print("value not found")

Searching for sao bento do sul
Searching for troy
Searching for ambad
Searching for pedro escobedo
Searching for macaiba
Searching for letavertes

In [20]:
df.head()

  Country              City   Latitude   Longitude  cloudiness
0      br  sao bento do sul -26.249722  -49.382500        76.0
1      us              troy  42.728333  -73.692222        20.0
2      in             ambad  19.616667   75.800000        75.0
3      mx    pedro escobedo  20.500000 -100.133333        75.0
4      br           macaiba  -5.716667  -35.550000        20.0